div.wide-area
  span.fa.fa-times.upper-right(ng-click="closeModalNoSave()")
  h4 Filter by HITs available
  p Only HIT groups with remaining HITs in the following range will be shown:
  table.table-striped.table-hover.table.table-condensed
    thead
      tr
        th Rating
        th Min
        th Max
    tbody
      tr(dt-slider key="hitsAvailable" label="Available HITs" range="[0,100,1000,{{customData}}]" n-digits=0 log="true")
  div.center
    button.dt-button.btn.btn-default.btn-primary(ng-click="closeModalAndSave()" type="button")
      span.fa.fa-check  Okay